html,
body {
  padding: 0px;
  margin: 0;
  font-family:sans-serif;
  background: url('../public/res2.jpg');
  background-size: cover;
  color: yellow;
}

a {
  color: inherit;
  text-decoration: none;
}