.sbtnClass{
    background-color: grey;
    color:white;  
    font-weight: bold;
    padding: 10px 16px;
    cursor: pointer;
    text-align: center;
    float: right;
    height: 50px;
  }
.sbtnClass:hover{
    color: rgba(0, 0, 0, 0.959);
}
.snav a{
    color: white;
    padding-left: 20px;
    font-weight: bold;
}
.snav a:hover{
    color: rgba(0, 0, 0, 0.575);
}

.snav {
    background-color: #2ecc71;
    padding: 0;
    border-color: black;
}

.lk {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}